
.card {
  width: calc(50% - 10px);
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
 
.main {
  grid-area: main;
  background-color: #eaedf1;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px; 
  color: slategray;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  background-color: #d6e0e6;
}
 
.svnstyle1{
  padding: 4%;
  background-color:#e67e22;
  margin-right: 25%;  
  border-radius: 50%;
  color: white; 
} 

.svnstyle2{
  padding: 4%;
  background-color:#27ae60;
  margin-right: 25%;  
  border-radius: 50%;
  color: white; 
}

.svnstyle3{
  padding: 4%;
  background-color:#e74c3c;
  margin-right: 25%;  
  border-radius: 50%;
  color: white; 
}

.svnstyle4{
  padding: 4%;
  background-color:#c58fda;
  margin-right: 25%;  
  border-radius: 50%;
  color: white; 
}

.overviewcard svg{ 
  width: 30px;
  height: auto;
} 
.sidenav {
  margin-right: 20px;
  height: 100%;
}
.styledSvg{ 
  justify-content: flex-start;
  margin-left: 0;
  padding-right:20px;
}
.sidenav__list {
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  width: 100%;
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.main {
  grid-area: main;
  background-color: #eaedf1;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #fff;
  color: slategray;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.overviewcard {
  display: flex;
  align-items: center; 
  padding: 20px;
  background-color: #ffffff;
}

.main-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 24px;
  margin-left:30px;
  box-sizing: border-box;
}

.card:first-child {
  width: 100%;
}
 
.card:not(:first-child) {
  width: calc(50% - 10px);
  margin-left: 20px;
}

@media screen and (max-width: 767px) { 
.card {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
.main-header {
flex-direction: column;
height: auto;
}

.main-header h1 {
  margin-bottom: 10px;
}

.main-header p {
  margin-bottom: 0;
}

.main-overview {
  margin: 20px 0;
  max-height: none;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-auto-rows: auto;
}

.overviewcard {
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  margin-left:10px;
  margin-right:10px;
}

.card:not(:first-child) {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
 
.card {
  width: 100%;
  margin-right: 0;
}
.svnstyle1{
  padding: 10px;
  background-color:#e67e22;
  margin-right: 25%;  
  border-radius: 50%;
  color: white;   
} 

.svnstyle2{
  padding: 10px;
  background-color:#27ae60;
  margin-right: 25%;  
  border-radius: 50%;
  color: white; 
}

.svnstyle3{
  padding: 10px;
  background-color:#e74c3c;
  margin-right: 25%;  
  border-radius: 50%;
  color: white; 
}

.svnstyle4{
  padding: 10px;
  background-color:#c58fda;
  margin-right: 25%;  
  border-radius: 50%;
  color: white; 
}

.overviewcard svg{ 
  width: 30px;
  height: auto; 
} 
.sidenav {
  margin-right: 20px;
  height: 100%;
}
.styledSvg{ 
  justify-content: flex-start;
  margin-left: 0;
  padding-right:20px; 
}
  
}
 